.navbar {
  height: 50px;
  background: #333333;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  display:none;
  margin: 0;
  padding: 30px;
}
.links {
  list-style: none;
}
.links a {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .menu {
    position: relative;
    display:block;
    padding: 0;
  }
  .links {
    display: inline-block;
    margin-right: 10px;
  }
}

